<?xml version="1.0" encoding="UTF-8"?>
<server description="user">

    <featureManager>
        <feature>microProfile-4.0</feature>
        <feature>jpa-2.2</feature>
    </featureManager>
    

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9082"
                  httpsPort="9444"/>

    <webApplication location="user.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>
    
    <library id="jdbcLib">
		<fileset dir="${server.config.dir}" includes="*.jar" />
	</library>
    
    <dataSource id="mysql" jndiName="jdbc/mysql">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties databaseName="UserDB"
			serverName="localhost" portNumber="3306" user="root" password="" />
	</dataSource>

</server>
